@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}
body {
    text-align: center;
}
.post-preview .post-entry {
    width: 100%;
    text-align: justify;
}
.post-preview .post-title {
    margin-top: 0
    text-align: justify;
}
p {
    text-align: justify;
}

