

.post-preview .post-entry {
    width: 100%;
    text-align: justify;
}
.post-preview .post-title {
    text-align: justify;
}
p {
    text-align: justify;
}

pre {
    margin: 1.25rem 0.2rem 1.25rem -2.26rem;
}

