.post-preview .post-entry {
    width: 100%;
    text-align: justify;
}
.post-preview .post-title {
    margin-top: 0
    text-align: justify;
}
p {
    text-align: justify;
    word-spacing: 1px;
}
footer {
  background-color: #000
}
